/clean_auto_mpg.csv
/clean_auto_mpg_app.py
/gapminder_data_graphs.csv
/iris.csv
/iris_dashboard_app.py
/share-of-individuals-using-the-internet.csv
/streamlit_app.py
/tips.csv
/titani_data.csv
/us-cities-top-1k (1).csv
/us-cities-top-1k.csv
/venv
/vgsales.csv
/world_happiness_ranking_2019.csv